.Dashboard {
    width:100vw;
    height:100vh;
}

.dashboard-menu {
    background-image:url(../assets/DashboardMenu.png);
    background-repeat:no-repeat;
    background-size:20vw 100vh;
    display:flex;
    flex-direction: column;
    background-color: beige;
    width:20vw;
    height:100vh;
    position:fixed;
}